*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #F9F0D5;
    background-image: url("img/texture.jpg");
    font: 14pt Verdana;
    
}
.around{
    overflow: hidden;
    width: 1056px;
    margin-left: auto;
    margin-right: auto;
}
.container{
    width: 1024px;
    min-height: 600px;
    margin: 15px;
    border: 1px solid #BEBEBE;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #555;
}
.header{
    width: auto;
    height: 215px;
    overflow: hidden;
    border-bottom: 1px solid #BEBEBE;
}
#logo{
    float: left;
    margin: 40px;
    border: none;
}
#slogan{
    float: right;
    overflow: hidden;
    width: auto;
    margin: 83px;
    font-style: italic;
    font-weight: normal;
    
}
.menu{
    width: 965px;
    overflow: hidden;
    border-bottom: 1px solid #BEBEBE;
    padding: 30px;
    text-align: center;
    font-size: 20pt;
}
.menu li{
    width: 150px;
    height: 40px;
    float: left;
    background-color: #F8F6F6;
    border: 1px solid #BEBEBE;
    margin-right: 38px; 
    border-radius: 5px;
    padding-top: 5px;
    list-style-type: none;
    box-shadow: 5px 5px 10px #777;
}
.menu_list li{
    float: none;
    background-color: #F8F6F6;
    border: none;
    list-style-type: none;
    margin: 10px 0 0 0;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    padding-top: 5px;
    box-shadow: 5px 5px 10px #777;
}
.menu_list{
    position: absolute;
    float: none;
    margin: 10px 0px 0px -2px;
    display: none;
}
.menu li:hover ul{
    display: block;
}
.content{
    display: inline-block;
    width: 1014px;
    height: auto;
    padding: 10px;
    text-align: center;
}
.item{
    background-color: #ECECEC;
    width: 242px;
    padding: 15px;
    margin: 30px;
    height: auto;
    border: 1px solid #BEBEBE;
    float: left;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #777;
}
.description{
    width: auto;
    padding: 15px;
    margin: 30px;
    height: auto;
    float: left;
}
.description li{
    text-align: left;
    list-style-type: none;
}
.price{
    margin: 30px 30px 30px 45px;
    float: left;
}
.button{
    width: 150px;
    height: 50px;
    border: none;
    float: left;
    margin: 15px;
    font-size: 24px;
    background-color: #C6B493;
}
.button:hover{
    background-color: #63D149;
}
.button:active{
    background-color: #55F32F;
}
textarea{
    height: 100px;
    width: 300px;
    font-size: 14pt;
}
input{
    margin: 0px 5px 5px 0px;
    height: 25px;
    width: 300px;
    font-size: 14pt;
    text-transform: capitalize;
}
input:focus{
    background-color: #FAFC99;
}
.text{
    text-align: left;
    margin: 30px;
    line-height: 1.5;
}
.button_contact{
    width: 144px;
    height: 50px;
    float: left;
    margin: 15px 15px 15px 0;
    font-size: 24px;
}
.footer{
    border-top: 1px solid #BEBEBE;
    bottom: 0px;
    padding: 30px;
    overflow: hidden;
    text-align: right;
}
img{
    border: 1px solid #BEBEBE;
}
a{
    text-decoration: none;
}
.clear{
    clear: both;
}