{% extends "base.html" %}
   {% load staticfiles %}
    
    {% block title %}
    {{block.super}} | Catalog
    {% endblock %}
        {% block content %}
               <a href="/long1/"><div class="item">
                   <img src={% static "img/long1_s.jpg" %}>
                   {{ item.0.product_name }}
                   </div></a>
               <a href="/long2/"><div class="item">
                   <img src={% static "img/long2_s.jpg" %}>
                   {{ item.1.product_name }}
                   </div></a>
               <a href="/long3/"><div class="item">
                   <img src={% static "img/long3_s.jpg" %}>
                   {{ item.2.product_name }}
                   </div></a>
               <a href="/long4/"><div class="item">
                   <img src={% static "img/long4_s.jpg" %}>
                   {{ item.3.product_name }}
                   </div></a>
        {% endblock %}
           