{% extends "base.html" %}
   {% load staticfiles %}
    
    {% block title %}
    {{block.super}} | Catalog
    {% endblock %}
        {% block content %}
               <a href="img/long4.jpg"><div class="item">
                   <img src={% static "img/long4_s.jpg" %}>
                   {{ item.3.product_name }}
                   </div></a>
               <ul class="description">
                    <li>{{ item.3.product_size }}</li>
                    <li>{{ item.3.product_material }}</li>
                    <li>{{ item.3.product_wheels }}</li>
                    <li>{{ item.3.product_size }}</li>
                </ul>
                <b class="price">Price: 140 USD</b>
                <button class="button" type="button">Buy now!</button>
        {% endblock %}