{% extends "base.html" %}
   {% load staticfiles %}
    
    {% block title %}
    {{block.super}} | Catalog
    {% endblock %}
        {% block content %}
               <a href="img/long1.jpg"><div class="item">
                   <img src={% static "img/long1_s.jpg" %}>
                   {{ item.0.product_name }}
                   </div></a>   
                       <ul class="description">
                            <li>{{ item.0.product_size }}</li>
                            <li>{{ item.0.product_material }}</li>
                            <li>{{ item.0.product_wheels }}</li>
                            <li>{{ item.0.product_size }}</li>
                        </ul>
                    
                    <b class="price">Price: 100 USD</b>
                
                <button class="button" type="button">Buy now!</button>
        {% endblock %}