{% extends "base.html" %}
   {% load staticfiles %}
    
    {% block title %}
    {{block.super}} | Main
    {% endblock %}
        {% block content %}
             <div class="text">
              <p>Welcome to LongsLife! Here at LongsLife we pride ourselves on giving you honest well informed advice backed by many years of experience so that you get exactly what you need. We stock a wide range of products from many of the best brands in the business so whether you're buying a complete setup or you just need nuts and bolts we've got you covered!<br>
                We’re  committed to sourcing the best gear at the best prices, So  if you find a cheaper online price - we won’t equal it, we’ll beat it with an extra 20% of the difference off your purchase. <br>
                Choosing your first board can be tricky as there is so much to choose from! Luckily we have two great retail stores where you can come and try out any of our boards and chat to our friendly staff about what gear is right for you.</p>
               </div>
               <div class="text">
                  <iframe width="952" height="539" src="https://www.youtube.com/embed/OW-J2pQrlsw" frameborder="0" allowfullscreen></iframe>
                   
                </div>
        {% endblock %}
           